header img {
  width: 100px;
  height: 100px;
}

header {
  background-color: purple;
}

header p{
  color: white;
  font-size: 36px;
}

.meme {
  border: 4px solid lightgreen;
}

.meme img {
  width: 100%;
  height: auto;
}

.meme p{
  color:red;
}
